<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Mingi Kim
              </h1>
              <p>I am a MS student at the <a href="https://sites.google.com/view/vclab-cnu/home">VCLab</a>, part of the <a href="https://computer.cnu.ac.kr/computer/index.do">Department of Computer Science and Engineering</a> at <a href="https://plus.cnu.ac.kr/html/en/">Chungnam National University</a>, where I work on 3D computer vision. My advisor is Prof. Hyungki Kim</a>.
              </p>
              <p>
                My research interests lie in Computer Graphics, 3D Vision, and Multi-modal Large Language Models (MLLMs). In particular, I am currently working on LLM research involving 3D point cloud and CAD data.
              </p>
              <p>
                I have a BS in Mathematics and Computer Science (double major) from <a href="https://plus.cnu.ac.kr/html/en/">Chungnam National University</a>. Fortunately, I graduated at the top of my class out of 55 students. For more details, please refer to my CV.
              </p>
              <p style="text-align:center">
                <a href="https://www.overleaf.com/read/qzvqtnxxgpwn#d784cc">CV</a> &nbsp;/&nbsp;
                <a href="mailto:mingik2000@gmail.com">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/mingikim1">GitHub</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle-profile.jpg">
            </td>
          </tr>
        </table>
<!--
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Researchs</h2>
            </td>
          </tr>
        </table>
-->

</body>

</html>

