<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Kyeongeun Min
              </h1>
              <p>I am a MS student at the <a href="https://datalab.yonsei.ac.kr/">DataLab</a>, Department of <a href="https://yslis.yonsei.ac.kr/doai/index.do">Library and Information Science at Yonsei University</a>, starting in the 2025-2 semester. 
              </p>
              <p>
                My research interests include <strong>Data Science</strong>, <strong>Suicidology</strong>, and <strong>Medical Informatics</strong>.
              </p>
              <p>
                I have a BS in Library and Information Science, Knowledge ecology (IT-linked dual majors) from <a href="https://plus.cnu.ac.kr/html/en/">Chungnam National University</a>. For more details, please refer to my CV.
              </p>
              <p style="text-align:center">
                <a href="https://www.overleaf.com/read/wqpjfptsczxs#aed64e">CV</a> &nbsp;/&nbsp;
                <a href="mailto:ke0379@naver.com">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/minkyeongeun">GitHub</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle-profile.jpg">
            </td>
          </tr>
        </table>
<!--
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Researchs</h2>
            </td>
          </tr>
        </table>
-->

</body>

</html>

